name: build-test-deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs: 
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write  
      id-token: write

    environment:
      name: production
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - run: flutter pub get

      - run: flutter build web --web-renderer canvaskit --release
      
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v3

      - name: Deploy GitHub Pages site
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: build/web
          
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4.0.5
        with:
          artifact_name: github-pages
